<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tolentino.dragonsis">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity
            android:name=".AddProduct"
            android:exported="true" />
        <activity
            android:name=".UpdateAccount"
            android:exported="true" />
        <activity
            android:name=".AddUser"
            android:exported="true" />
        <activity
            android:name=".ViewProducts"
            android:exported="false" />
        <activity
            android:name=".ViewInventory"
            android:exported="false" />
        <activity
            android:name=".GeneratePdfReport"
            android:exported="true" />
        <activity
            android:name=".UserAccounts"
            android:exported="true" />
        <activity
            android:name=".EmployeeMenu"
            android:exported="true" />
        <activity
            android:name=".ManagerMenu"
            android:exported="true" />
        <activity
            android:name=".UserProducts"
            android:exported="true" />
        <activity
            android:name=".UserInventoryUpdates"
            android:exported="true" />
        <activity
            android:name=".UserViewInventory"
            android:exported="true" />
        <activity
            android:name=".ViewInventoryUpdates"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>